## Export functions

export(addClusteringManually, calculateClustersSimilarity, clusterCellsInternal,
exportClusteringResults, exportMatrix, generateTSNECoordinates, getGenesInfo,
getMarkerGenes, initialisePath, normalizeCountMatrix, plotCellHeatmap, 
plotCellSimilarity, plotClusteredTSNE, plotClustersSimilarity, 
plotGeneExpression, rankGenes, runCONCLUS, runClustering, runDBSCAN, 
saveGenesInfo, saveMarkersLists, testClustering)

## Import functions and packages 

importFrom(foreach,"%dopar%")
import(ggplot2, pheatmap, zoo, dynamicTreeCut, factoextra, 
digest, RColorBrewer, doParallel, BiocParallel, scran, 
monocle, KEGGREST, AnnotationDbi, SingleCellExperiment, Cairo, rvest, curl, 
scater, Matrix, dbscan)