## Export functions

export(addClusteringManually, calculateClustersSimilarity, clusterCellsInternal,
exportClusteringResults, exportMatrix, generateTSNECoordinates, getGenesInfo,
getMarkerGenes, initialisePath, normaliseCountMatrix, plotCellHeatmap, 
plotCellSimilarity, plotClusteredTSNE, plotClustersSimilarity, 
plotGeneExpression, rankGenes, runCONCLUS, runClustering, runDBSCAN, 
saveGenesInfo, saveMarkersLists, testClustering)

## Import functions and packages 

importFrom(foreach,"%dopar%")

import(ggplot2, pheatmap, zoo, dynamicTreeCut, factoextra, 
digest, RColorBrewer, doParallel, BiocParallel, scran, 
monocle, KEGGREST, AnnotationDbi, SingleCellExperiment, Cairo, rvest, curl, 
scater, Matrix, dbscan, fpc, matrixStats, dplyr, biomaRt, org.Mm.eg.db, xlsx,
grDevices, S4Vectors, Biobase)