## Export functions

export(addClusteringManually, calculateClustersSimilarity, 
clusterCellsInternal, exportClusteringResults, 
export(generateTSNECoordinates)
export(getGenesInfo)
export(getMarkerGenes)
export(initialisePath)
export(normaliseCountMatrix)
export(normalizeCountMatrix)
export(plotCellHeatmap)
export(plotCellSimilarity)
export(plotClusteredTSNE)
export(plotClustersSimilarity)
export(plotGeneExpression)
export(rankGenes)
export(runCONCLUS)
export(runClustering)
export(runDBSCAN)
export(saveGenesInfo)
export(saveMarkersLists)
export(testClustering)
importFrom(foreach,"%dopar%")
import(ggplot2, pheatmap, zoo, dynamicTreeCut, factoextra, 
digest, RColorBrewer, doParallel, BiocParallel, scran, 
monocle, KEGGREST, AnnotationDbi, SingleCellExperiment, Cairo, rvest, curl)